pre {
    cursor: default;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

/*.mainTeletype {*/
/*    overflow: hidden;*/
/*    animation:*/
/*        typing 1s steps(32, end);*/
/*}*/

.mainText {
    color: #eeeeee;
    font-size: 24px;
    font-family: "CommodoreSystem", monospace;
    white-space: pre-wrap;
}

.menuItem:hover {
    background-color: #eeeeee;
    color: black;
}
.menuItem {
    width: 100%;
    cursor: pointer;
}

/*@keyframes typing {*/
/*    from { width: 0 }*/
/*    to { width: 100% }*/
/*}*/

@font-face {
    font-family: 'CommodoreSystem';
    src:url('/fonts/C64_Pro_Mono-STYLE.woff') format('woff'),
    url("/fonts/C64_Pro_Mono-STYLE.woff2") format("woff2"),
    url("/fonts/C64_Pro_Mono-STYLE.ttf") format("truetype");
    url('/fonts/C64_Pro_Mono-STYLE.eot') format("embedded-opentype"),
    url('/fonts/C64_Pro_Mono-STYLE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.h_line {
    height: 0;
    width: 100%;
    border-bottom: 2px solid #eeeeee;
    border-left-width: 0px;
}