.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin: 0;
    /*border: 2px solid #ccc;*/
    padding-top: 10px;

    justify-content: center;
}

.projectListing {
    /*flex-basis: calc(20% - 10px);*/
    flex-basis: 100%;
    min-height: 160px;

    background-color: black;
    padding: 20px 20px;
    border: 2px solid #eeeeee;

    visibility: hidden;

    white-space: normal;
}

a.projectListing {
    padding: 0;
}

.projectListingText {
    white-space: preserve;
    overflow-wrap: break-word;
    font-size: 16px;
}

.projectListing:hover {
    background-color: #eeeeee;
    cursor: pointer;
    color: black;
}

.projectListingDate {
    font-size: 8px;
    display: block;
    margin-bottom: 10px;
}